:root {
  --main-bg-color: #F6FFDE;
  --x-color: #FF2442;
  --x-out-color: #ff5959;
  --o-color: #3DB2FF;
  --square-color: #EDF4F2;
  --square-hover-color: #eeeeee;
  --default-button-color: #C9DBB2;
  --default-button-border-color: #AAC8A7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: bold;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  margin: 20px;
  padding: 0;
  background-color: var(--main-bg-color);
}

.square {
  background: var(--square-color);
  border: 2px solid #AAC8A7;
  float: left;
  
  font-size: 40pt;
  font-weight: bold;
  line-height: 42pt;
  
  text-align: center;
  padding: 0;
  
  
  width: 100px;
  height: 100px;

  transition: background 0.25s ease-in-out;
}

@media (hover) {
  .square:hover {
    background: var(--square-hover-color);
  }
}
@media (hover: none) {
  .square:active {
    background: #eeeeee;
  }
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-size: 32pt;
  text-align: center;
}

.status.X:not(.win) {
  color: var(--x-out-color);
}
.status.O:not(.win) {
  color: var(--o-color);
}

.status.win.O {
  background-color: var(--o-color);
}
.status.win.X {
  background-color: var(--x-out-color);
}

.game {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.board {
  margin: 0 auto;
}

.square.X {
  color: var(--x-color);
}
.square.O {
  color: var(--o-color);
}

.button {
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20pt;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border-color: var(--default-button-border-color);
  background-color: var(--default-button-color);


  transition: 0.1s ease-in-out;
}

@media (hover) {
  .button:hover {
    background-color: var(--default-button-border-color);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--default-button-border-color);
  }
}
