* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #FFE9A0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40pt;
  font-weight: bold;
  line-height: 42pt;
  height: 100px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.square:hover {
  background: #eeeeee;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-size: 36pt;
  text-align: center;
}

.status.X:not(.win) {
  color: #CC3636;
}
.status.O:not(.win) {
  color: #367E18;
}

.status.win.O {
  background-color: #73d34a;
}
.status.win.X {
  background-color: #e76464;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
  margin: 0 auto;
  gap: 20px;
}

.board {
  margin: 0 auto;
}

.square.X {
  color: #CC3636;
}
.square.O {
  color: #367E18;
}

.shuffle {
  text-transform: uppercase;
  background-color: #F57328;
  font-size: 18pt;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  border-color: #e76464;
}

.shuffle:hover {
  background-color: #ffa36e;
}
